[submodule "src/Verse.MoonWorks/lib/SDL3-CS"]
	path = src/Verse.MoonWorks/lib/SDL3-CS
	url = https://github.com/flibitijibibo/SDL3-CS
[submodule "src/Verse.MoonWorks/lib/FAudio"]
	path = src/Verse.MoonWorks/lib/FAudio
	url = https://github.com/FNA-XNA/FAudio
[submodule "src/Verse.MoonWorks/lib/WellspringCS"]
	path = src/Verse.MoonWorks/lib/WellspringCS
	url = https://github.com/MoonsideGames/WellspringCS/
[submodule "src/Verse.MoonWorks/lib/dav1dfile"]
	path = src/Verse.MoonWorks/lib/dav1dfile
	url = https://github.com/MoonsideGames/dav1dfile
