/src/Verse.MoonWorks/Math/Fixed/Fix64SinLut.cs filter=lfs diff=lfs merge=lfs -text
/src/Verse.MoonWorks/Math/Fixed/Fix64TanLut.cs filter=lfs diff=lfs merge=lfs -text
/src/Verse.MoonWorks/lib/lib64/libSDL3.so.0 filter=lfs diff=lfs merge=lfs -text
/src/Verse.MoonWorks/lib/macos/libSDL3.0.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.MoonWorks/lib/win64/SDL3.dll filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/lib64/libSDL3.so.0 filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/lib64/libdav1dfile.so.1 filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/lib64/libdxil.so filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/lib64/libspirv-cross-c-shared.so.0 filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/lib64/libvkd3d-shader.so.1 filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libSDL3.0.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libdav1dfile.1.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libdxcompiler.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libdxil.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libspirv-cross-c-shared.0.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libvkd3d-shader.1.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/macos/libvkd3d.1.dylib filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/win64/SDL3.dll filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/win64/dav1dfile.dll filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/win64/dxcompiler.dll filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/win64/dxil.dll filter=lfs diff=lfs merge=lfs -text
/src/Verse.Moonworks.Native/lib/win64/spirv-cross-c-shared.dll filter=lfs diff=lfs merge=lfs -text
